.imageProducts {
  aspect-ratio: 1/1;
  object-fit: contain;
}

.productCardTitle {
  font-size: 1.5rem;
}
.productCardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bottonProductContainer {
  width: 100%;
  flex-grow: 1;
}
