:root {
  --primary-color: #fefdfe;
  --secondary-color: #606060;
  /* typography and color text*/
  --tittle-typo: Tangerine, serif;
  --text-typo: "Source Sans 3", sans-serif;
  --title-color: #d3864c;
  --text-color: #929292;
  --full-screen: #d2e5fe;
}
/* dark mode */
@media (preference-color-scheme: dark) {
  :root {
    --primary-color: #606060;
    --secondary-color: #fefdfe;
    /* typography and color text*/
    --title-color: #fefdfe;
    --text-color: #fefdfe;
    --full-screen: #647284;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

/* soft anchor */
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--text-typo);
  color: var(--text-color);
  background-color: var(--primary-color);
  line-height: 1.4em;
}

h1,
h2 {
  color: var(--title-color);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
}
h3 {
  color: #724a25;
}
.btn-primary {
  background-color: #d3864c;
  border-color: #7c4d2a;
}
.btn-primary:hover {
  background-color: #ff8b33;
  border-color: #d48549;
}
